.grid-area{
    position: relative;
    height: 100%;
}
.about_content{
    width: 100%;
}
.info-card-container{
    display: block;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
}
.about{
    padding-top: 70px;
    padding-bottom: 70px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
    display: block;
    animation: smoothIn 1s;
}

@keyframes smoothIn {
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0);
    }
}