.product-img img{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
}

 
.product-img{
    position: absolute;
    border: 5px solid #EEF2D4;
    left: 3vw;
}


.product-img-container{
    position: relative;
    left: 0vw;
    z-index: -1;
    height: 100vh;
}

/* .product-img-border1{
    position: absolute;
    border: 5px solid #EEF2D4;
    height: 100px;
    width: 100px;
} */
.product-img-border2{
    position: absolute;
    /* border: 5px solid #EEF2D4;
    height: 100px;
    width: 100px; */
}
.product-img-borderd{
    position: absolute;
    border-radius: 65px;
    border: 2px dashed #BAEE83;
    transform: rotate(-45.11deg);
    left: 5vw;
}

.rotate-right{
    animation: rotate-r 20s infinite linear;
}
@keyframes rotate-r {
    
    0% {
        transform: rotate(-45.11deg);
    }
    100% {
        transform: rotate(-405.11deg);
    }

}

.rotate-left{
    animation: rotate-l 20s infinite linear;
}
@keyframes rotate-l {
    
    0% {
        transform: rotate(-45.11deg);
    }
    100% {
        transform: rotate(314.89deg);
    }

}
